{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "react-app/jest",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["simple-import-sort"],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "sort-imports": 0,
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "singleQuote": true,
                "useTabs": false,
                "tabWidth": 4,
                "printWidth": 80,
                "endOfLine": "auto",
                "trailingComma": "all"
            }
        ]
    }
}
